* {
  box-sizing: border-box;
}

.header-top {
  -webkit-box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.67);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.67);
  position: relative;
  z-index: 3;
  background-size: cover;
  background-image: url("../images/event.jpg");
  height: 200px;
}

.header-title {
  text-shadow: 1px 1px 20px rgb(131, 131, 131);
}

h1 {
  font-size: 3.25rem;
}

.logo_new {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: 1px 1px 3px #888787;
  color: #f18f55;
}

.font-weight-bold {
  color: #888787;
}
