<div class="event_post">
  <h4 class="event-title"><a
      class="link"
      href="/event/{{id}}"
    >{{event_title}}</a></h4>
  <div class="event-body">
    <p class="event-content">
       Created by
        <span class="event-username">{{user.username}}</span>
        on
        {{format_date createdAt}}
      </p>
    </p>
    {{!-- <p class="event-guest">

    </p> --}}
  </div>
</div>