<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lumivent</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <header class="p-4 text-left header-top"></header>
      
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Lumivent</a>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navlink active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="navlink active" href="/event-setup">New Event</a>
            </li>
            <li class="nav-item">
              <a class="navlink active" href="#">Your Events</a>
            </li>
          </ul>
        {{#if logged_in}}
        <a href="#">
          <button class="nav-item btn jusstify-content-end" id="logout">Logout</button>
        </a>
        {{else}}
          <a href="/login">
          <button class="nav-item btn jusstify-content-end">Login</button>
        </a>
        {{/if}}
      </nav>

    <div class="logo_new"><h1>Lumivent</h1></div>

    {{{body}}}

    <footer>© 2022 SQL Injectors</footer>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
      integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
      crossorigin="anonymous"
    ></script>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>