<div class="main_body card">
    <h3 class="font-weight-bold text-justify">All Events</h3>
{{#each events as |event| }}
<article class="event_box">
    {{> event-home event}}
</article>
{{/each}}
</div>