* {
  box-sizing: border-box;
}

body {
  text-align: center;
  display: inline;
  background-color: beige;
  margin: auto;
}

main {
  padding: 30px;
}
.header-top {
  position: relative;
  z-index: 3;
  background-size: cover;
  background-image: url("../images/event.jpg");
  height: 200px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 5px rgba(59, 59, 59, 0.67);
  box-shadow: 2px 2px 5px rgba(59, 59, 59, 0.67);
}

h1 {
  font-size: 40px;
}

.logo_new {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: 1px 1px 3px #888787;
  color: #f18f55;
  margin: 20px auto;
}

.font-weight-bold {
  color: #888787;
}

button {
  top: 0;
  right: 0;
  display: inline-flex;
}

/* login page styles */

.submit-btn {
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  background-color: #f18f55;
  border: none;
  transition: background-color 0.5s, color 0.75s;
  justify-content: center;
}

.submit-btn:hover {
  color: white;
  background-color: #ce7d4f;
}

.form-container {
  width: 35%;
  border-radius: 15px;
  padding: 25px;
  margin: 50px auto;
  box-shadow: 2px 2px 3px #888787;
}

.form-container label {
  font-weight: bold;
  float: left !important;
}

.input-form {
  width: 100%;
  padding: 0.5rem 0.75rem;
}

.login-form {
  border-bottom: 1px lightgray solid;
}

/*home page*/
.main_body {
  padding: 100px 50px;
  position: relative;
  top: -120px;
  z-index: -100;
  width: 90%;
  margin: auto;
}
.event_box {
  margin: 20px 0;
  border: 1px lightgrey solid;
  text-align: right;
}

.event-title {
  background-color: lightgrey;
  padding: 15px;
  margin-top: 0;
  text-align: left;
}

.event-title a:link {
  color: #617ab7;
  text-decoration: none;
}

.event-title a:visited {
  color: #617ab7;
  text-decoration: none;
}

.event-title a:hover {
  text-decoration: none;
  color: #0e506e;
}

.event-content {
  padding: 10px !important;
  text-align: left !important;
}

.event-button {
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.event-author {
  text-align: right;
  margin-right: 20px;
  margin-bottom: 20px;
  font-style: italic;
}

.event-username {
  font-weight: bold;
}

.event-post {
  border: 1px #d3d3d3 solid;
}

footer {
  width: 100%;
  background-color: lightgrey;
  border-top: 1px solid #acaaaa;
  float: left;
  text-align: center;
  font-size: 12px;
  padding: 5px;
}

@media screen and (max-width: 1385px) {
  .ce-hero {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  #event-input,
  #invitee-email {
    width: 75%;
    height: 50px;
    border-radius: 15px;
  }

  .m-0 {
    font-size: 25px;
  }

  .em-instr {
    font-size: 25px;
  }
  .h3-hdr {
    font-size: 38px;
  }
}

@media screen and (max-width: 600px) {
  .w-35 {
    width: 100%;
    margin-top: 5px;
    height: 300px;
    border-radius: 15px;
  }
}

/*************************************************************************************************************************************************/
/* mobile responsiveness for test.html */
@media screen and (max-width: 2560px) {
  .form-container {
    width: 50%;
  }
}
@media screen and (max-width: 1385px) {
  .form-container {
    width: 50%;
  }
}

@media screen and (max-width: 1198px) {
  .form-container {
    width: 60%;
  }
}

@media screen and (max-width: 980px) {
  .form-container {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .form-container {
    width: 75%;
  }
}

@media screen and (max-width: 600px) {
  .form-container {
    width: 75%;
  }
}
