* {
  box-sizing: border-box;
}

body {
  margin-top: 20px;
  text-align: center;
  display: inline;
  background-color: beige;
}

.header-top {
  -webkit-box-shadow: 0px 2px 15px 5px rgba(0, 0, 0, 0.67);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.67);
  position: relative;
  z-index: 3;
  background-size: cover;
  background-image: url("../images/event.jpg");
  height: 200px;
}

.header-title {
  text-shadow: 1px 1px 20px rgb(131, 131, 131);
}

h1 {
  font-size: 3.25rem;
}

.logo_new {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: 1px 1px 3px #888787;
  color: #f18f55;
}

.font-weight-bold {
  color: #888787;
}

button {
  top:0;
  right:0;
  display: inline-flex;
}

/* login page styles */

.submit-btn {
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  background-color: #f18f55;
  border: none;
  transition: background-color 0.5s, color 0.75s;
}

.submit-btn:hover {
  color: white;
  background-color: #ce7d4f;
}

.form-container {
  /*background-color: #f1f1f1;*/
  font-size: 1.25rem;
  width: 35%;
  border-radius: 15px;
  padding: 25px;
  margin: 50px auto;
  box-shadow: 2px 2px 3px #888787;
}

.form-container label {
  /* font-weight: bold;*/
  float: left !important;
}

.input-form {
  width: 100%;
  padding: 0.5rem 0.75rem;
}

.login-form {
  border-bottom: 1px lightgray solid;
}

@media screen and (max-width: 1385px) {
  .ce-hero {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  #event-input,
  #invitee-email {
    width: 75%;
    height: 50px;
    border-radius: 15px;
  }

  .m-0 {
    font-size: 25px;
  }

  .em-instr {
    font-size: 25px;
  }
  .h3-hdr {
    font-size: 38px;
  }
}

@media screen and (max-width: 600px) {
  .w-35 {
    width: 100%;
    margin-top: 5px;
    height: 300px;
    border-radius: 15px;
  }
}

/*************************************************************************************************************************************************/
/* mobile responsiveness for test.html */
@media screen and (max-width: 2560px) {
  .form-container {
    width: 50%;
  }
}
@media screen and (max-width: 1385px) {
  .form-container {
    width: 50%;
  }
}

@media screen and (max-width: 1198px) {
  .form-container {
    width: 60%;
  }
}

@media screen and (max-width: 980px) {
  .form-container {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .form-container {
    width: 75%;
  }
}

@media screen and (max-width: 600px) {
  .form-container {
    width: 75%;
  }
}
